* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

header {
    background-color: rgb(27, 0, 0);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    color: aliceblue;
}

Nav {
    display: flex;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: .5rem;
}

nav ul li a {
    color: rgb(255, 239, 16);
    text-decoration: none;
}

.productos {
    min-height: 30vh;
    display: grid;
    place-items: center;
    color: black;
}


.Todas-Tarjetas {
    min-height: vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card {
    width: 250px;
    border: 1px solid #ff0000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.374);
    transition: box-shadow 0.3s ease;
    margin: 30px;
}

.card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.379);
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}

.card-content {
    padding: 15px;
}

.card-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.descripcion {
    width: 100%;
    margin: 5px;
    text-align: left ;
}
.btn {
    display: inline-block;
    padding: 5px 10px;
    margin: 3px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}